@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  @apply h-full box-border;
}

body,
#__nuxt,
#__layout,
.wrapper,
main {
  @apply min-h-full;
}

*,
*:before,
*:after {
  @apply box-inherit font-roboto;
}

body {
  @apply bg-black;

  #__layout > .wrapper {
    @apply w-screen lg:w-full overflow-hidden lg:overflow-auto;

    .prose {
      @apply max-w-full;
    }
  }
}

.page-enter-active,
.page-leave-active {
  @apply transition-all duration-500;
}
.page-enter,
.page-leave-to {
  @apply opacity-0;
}

.drop-down-nav-enter-active,
.drop-down-nav-leave-active {
  @apply transition-all duration-500;
}
.drop-down-nav-enter,
.drop-down-nav-leave-to {
  @apply transform -translate-y-full opacity-0 ease-linear;
}

@keyframes slideFromTop {
  0%,
  50% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  0%,
  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  0%,
  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0%,
  50% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}
